@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  body{
    @apply font-primary bg-primary text-white leading-loose overflow-x-hidden;
  }
  .h1{
    /* mobile-first: smaller heading to avoid overload on phones */
    @apply text-[32px] sm:text-[48px] md:text-[56px] xl:text-[83px] leading-[1.1] font-semibold;
  }
  .h2{
    @apply text-[36px] xl:text-[48px] leading-[1.1] font-semibold;
  }
  .h3{
    @apply text-[20px] xl:text-[24px] leading-[1.1] font-semibold;
  }
}

.text-outline {
  -webkit-text-stroke: 1px #ffffff;
}

.group:hover .text-outline {
  -webkit-text-stroke: 1px #00ff99;
}